/*


*/
/*inidcar*/
body{
	margin: 0px;
	padding: 0px;
	height: 100%;
	background.color: #f1f1f1; 
}

h1{
	font-family: 'Gugi', cursive;
	color: #fff;
}
header{
	background-color: rgb(28,58,64);
	/*rgba a:opacidad*/
	margin: 0px; /*margen*/
	padding: 0px; /*espacio de letras hacia la derecha desde el margen*/
}

h1,h2{
	text-align: center;
	padding-top: 20px;
}

nav ul li, footer ul li{
	display: inline;
}
ul{
	list-style:none;
}

nav a, footer a{
	display: inline-block;
	width: 100px; /*tambien de puede poner en porcentaje, el de la pagina*/
	height: 20px;
	text-decoration: none;
	background-color: #0A0A2A;
	color: #fff;
}
img{
	width: 45%;
}

.informacion-personal{
	text-align:center;
	width:45%;
}

li:hover a{
	background-color: #ccc;
}

li.active a{
	background-color: #ccc; 
}

footer{
	font-family: 'Gugi', cursive;
	height: 120px;
	background: grey;
}

.justificado{
	width: 50%
	text-align: justify; 
	width:45%;	
}

section.premios{
	width: 60%;
}


table, th, td{
	border: 2px solid rgb(28,58,64);
	border-collapse: collapse; 
}